@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: white;
}

body {
    background-color: #F9FFF9;
}

.navbar {
    position: sticky;
    top: 0;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
    background-color: #4CAF50;
}

.left-section {
    align-items: left;
    flex: 1;
    padding-left: 20px;
}

#nav-logo {
    width: 130px;
    height: 60px;
    border-radius: 15px;
    margin-top: 5px;
}

.middle-section{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.middle-section ul{
    display: flex;
    position: relative;
    list-style: none;
}

.middle-section ul li {
    float: center;
}

.middle-section ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-right: 25px;
    transition: color 0.3s ease;
}

.middle-section ul li a.current{
    color: #FFB74D;
    border-bottom: white 3px solid;
    padding-bottom: 5px;
}

.middle-section ul li:hover a{
    color: #FFB74D;
}

.middle-section ul li:last-child a{
    margin: 0;
}

.middle-section ul ul {
    display: none;
    position: absolute;
    top: 120%;
    border-top: 3px solid #FFB74D;
    padding-top: 20px;
}

.middle-section ul ul li {
    float: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

.middle-section ul li:hover > ul {
    display: block;
    background-color: #4CAF50;
    border-radius: 1px;
}

.middle-section ul ul li a {
    padding: 10px 15px;
    display: block;
    color: #ffffff;
    font-size: 16px;
}

.middle-section ul ul li a:hover {
    background-color: #FFB74D;
    color: #333333;
}

.middle-section > ul::after {
    content:"";
    display: block;
    clear: both;
}

.right-section {
    display: flex;
    flex: 1;
    align-items: right;
    justify-content: right;
    padding-right:35px;
}

.get-started-btn {
    background: #FFB74D;
    padding:  6px 30px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.get-started-btn:hover{
    background-color: #ffffff;
    color: #333333;
}

.above-the-fold {
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5vh;
    padding: 0;
    background-color: #81C784;
}

.image-container{
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
}

.image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.05;
    filter: blur(3px);
    transform: scale(1.02);
    will-change: filter, transform;
    z-index: 0;
}
.above-the-fold img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.06;
    filter: blur(3px);
    transform: scale(1.02);
    z-index: 0;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333333;
    text-align: center;
    z-index: 2;
}

.greenride-title {
    font-size: 40px;
    font-weight: 600px;
    align-items: center;
    justify-content: center;
}

.first-description{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
}

.second-description {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}

.features {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 100px;
}

.features .item{
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    padding: 0px 10px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
}

.features .item:hover{
    border-color: #FFB74D;
    border-width: 3px;
}

.features .item .icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease;
}

.features .item:hover .icon{
    background-color: #FFB74D;
}

.features .item .icon i{
    font-size: 50px;
}

.features .item .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features .item .info h4{
    color: #FFB74D;
    font-size: 26px;
}

.features .item .info p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}

.features .item > i{
    color: white;
    font-size: 50px;
    transition: color 0.3s ease;
}

.features .item:hover > i{
    color: #FFB74D;
}

.seperator{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us {
    display: flex;
    justify-content: space-around;
    padding: 50px 50px;
    background-color: #4CAF50;
}

.about-us .info{
    padding-left: 150px;
    flex: 3;
}

.about-us .info h4{
    color: #FFB74D;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 10px;

}

.about-us .info p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-us img{
    width: 400px;
    margin: 50px;
    border-radius: 50px;
    flex: 1;
}

footer{
    position: relative;
    background-color: #F9FFF9;
    padding: 60px 50px 40px;
    border-top: 2px solid #4CAF50;
}

footer .start{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background-color: #81C784;
    padding: 20px 30px;
    border-radius: 15px;
    width: 70%;
    top: -16%;
    left: 15%;
}

footer .start p{
    font-size: 16px;
    width: 50%;
    color:#ffffff;
    font-weight: 500;
    text-align: center;
}

footer .start h3{
    color: #ffffff;
}

footer .start button{
    background: transparent;
    border: 3px solid #ffffff;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 100px;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 18px;
}

footer .start button:hover{
    background-color: #FFB74D;
    border-color: #FFB74D;
    color: #333333;
}

footer .links-collection{
    display: flex;
    align-items: start;
}

footer .links-collection{
    flex: 3;
}

footer .links-collection h4{
    margin-bottom: 20px;
}

footer .links-collection p{
    color: #333333;
    font-size: 13px;
}

footer .links-collection .about{
    flex: 3;
}

footer .links-collection .about h4{
    color: #000000;
    margin-bottom: 20px;
}

footer .links-collection .about p{
    color: #333333;
    font-size: 13px;
}

footer .links-collection .plans{
    flex: 3;
}

footer .links-collection .plans h4, footer .links-collection .news h4{
    color: #333333;
    margin-bottom: 20px;
}

footer .links-collection .plans h4:hover{
    color: #FFB74D;
}

footer .links-collection a{
    display: block;
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .links-collection a:hover{
    color: #FFB74D;
}

footer .links-collection .news{
    flex: 3;
}

footer .links-collection .news h4:hover{
    color: #FFB74D;
}

footer .links-collection .news p{
    color: #333333;
    font-size: 16px;
}

footer .links-collection .news form{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

footer .links-collection .news form input{
    width: 100%;
    background-color: #e2e2e2;
    color:#333333;
    border: none;
    padding: 13px;
    border-radius: 100px;
    font-weight: 300;
    font-size: 13px;
}

footer .links-collection .news form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #4CAF50;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: -1.8px;
    right: -3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer .links-collection .news form button:hover{
    background-color: #FFB74D;
}

footer .links-collection .news form button i{
    font-size: 26px;
}

footer .links-collection .company-info{
    flex: 3;
    padding-left: 100px;
}

footer .links-collection .company-info h4{
    margin-bottom: 20px;
    color: #333333;
}

footer .links-collection .company-info p{
    color: #333333;
    font-size: 16px;
    line-height: 26px;
}

footer .links-collection .company-info h4:hover{
    color:#FFB74D;
}

footer .copyright p{
    color:#333333;
    text-align: center;
    padding-top:25px;
    font-weight: 400;
    font-size: 12px;
}


/*About us section */

.about-company {
    margin: auto;
    width: 70%;
    padding: 50px;
    border-bottom: 1px solid #333333;
}

.about-company h2{
    color:#FFB74D;
    font-size: 40px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.about-company p{
    color:#333333;
    padding: 10px;
    text-align: center;
}

.staff-members {
    margin-top: 30px;
    background-color: #4CAF50;
    padding: 50px;
    margin: 50px 10px;
    border-radius: 50px;
    box-shadow: 0 4px 10px -2px #333333;
}

.staff-members h2{
    color:#FFB74D;
    font-size: 28px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
 }  

.staff-members .our-team {
    color:#FFB74D;
    font-size: 35px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
 }  

#team-descript{
    color:#ffffff;
    font-size: 18px;
    font-weight: 450;
    margin-top: 1px;
    margin-bottom: 20px;
}
.staff-members p{
    color:#000000;
    padding: 10px;
    text-align: center;
 }

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.staff-cards {
    display: flex;
    margin-top: 50px;
}

.row {
    flex: 3;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color:#81C784;
  border: 1px solid transparent;
  border-radius: 25px;
}

.card:hover {
  border: 3px solid #FFB74D;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(228, 228, 228);
  font-weight: 700;
}

.button {
  border: 2px solid transparent;
  border-radius: 100px;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #36e665;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #FFB74D;
  color:#333333;
}

.company-values {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0 50px;
}

.company-values h2{
    color:#FFB74D;
    font-size: 28px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
 }

.company-values p{
    color:#333333;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.values-span{
    color:#000000;
    font-weight: 600;
    font-size: 20px;
}


/* media queries */
@media screen and (max-width: 1200px) {
  .column {
    width: 100%;
    display: block;
    font-size: 100%;
  }
}

@media screen and (max-width: 950px) {
  .column {
    width: 100%;
    display: block;
    font-size: 85%;
}
